doctor-s
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out
coverage.out
c.out

.env
*.env.local

.idea/
.vscode/
*.swp
*.swo

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

vendor/